/* source:
 * stackoverflow.com
 * w3school.com
 * getbootstrap.com 
 */

.bg {
	background-image: url("https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 120%; height: 120%;
	position: fixed;
	top: 0; left: 0;
	opacity: 0.4;
	z-index: -1;
}

.navbar-style {
	background-color: #B8977E;
}

.navbar-style-2 {
	background-color: #D8D8D8;
}

.warna-2 {
	color:white;
}

.bg-style-2{
	background-image: url("https://lh3.google.com/u/0/d/1LpfjTivTAvDuF49lN8ByyIgWiwxpx8Cu=w2000-h2666-iv1");
}

.wrapper-1 {
	width: 100%;
}

.wrapper-2 {
	width: 100%;
}

.about-me h2 {
	padding: 30px 30px 20px;
	font-family: helvetica; font-size: 32px;	
	line-height: 40px;
}

.about-me p {
	padding: 0px 30px 20px;
	font-family: helvetica; font-size: 24px;	
	line-height: 38px;
}

.edu h2 {
	padding: 30px 30px 20px;
	font-family: helvetica; font-size: 32px;	
	line-height: 40px;
}

.edu h4 {
	font-family: helvetica; font-size: 24px;	
	line-height: 10px;

}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}

/* all accordion related css below */
.accordion {
  background-color: #D8D8D8;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 30%;

  h4 {
    color: #333;
    display: inline;
    font-size: 20px;
    margin: 0;
  }
  .accordion-title {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active .accordion-arrow {
      transform: rotate(0); 
    }
  }

  .accordion-text {
    display: none;
    color: #333;
  }
}