/* source:
 * stackoverflow.com
 * w3school.com
 * getbootstrap.com 
 */

.bg {
	background-image: url("https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 120%; height: 120%;
	position: fixed;
	top: 0; left: 0;
	opacity: 0.4;
	z-index: -1;
}

.navbar-style {
	background-color: #B8977E;
	font-family:helvetica;
	height: 45px;
}

.wrapper-1 {
	width: 100%;
}

.wrapper-2 {
	width: 100%;
}

.about-me h2 {
	padding: 30px 30px 20px;
	font-family: helvetica; font-size: 32px;	
	line-height: 40px;
}

.about-me p {
	padding: 0px 30px 20px;
	font-family: helvetica; font-size: 24px;	
	line-height: 38px;
}

.img-about-me {
	width: 50%;
	height: 50%;
}

.edu h2 {
	padding: 30px 30px 20px;
	font-family: helvetica; font-size: 32px;	
	line-height: 40px;
}

.edu h4 {
	font-family: helvetica; font-size: 24px;	
	line-height: 10px;
}


.accordion {
	background: linear-gradient(to bottom right, white, #F8F8F8);
	max-width: 400px;
	background: white;
	margin: 0 auto;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.accordion-header {
	font-family:Nunito;
	border-bottom: 1px solid #DDE0E7;
	color: #2a313a;
	cursor: pointer;
	font-weight: 700;
	padding: 1.5rem;
}


/*for accordion*/
.accordion-header:hover {
	background: #F6F7F9;
}

.accordion-content {
	font-family:Nunito;
	display: none;
	border-bottom: 1px solid #DDE0E7;
	background: #F6F7F9;
	padding: 1.5rem;
	color: #4a5666;
}

.accordion-header::before {
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: .75rem;
	height: .75rem;
	border-radius: 50%;
	background-color: #B1B5BE;
	margin-right: .75rem;
}

.active.accordion-header::before {
	background-color: #FC6468;
}


/*
* {
    box-sizing: border-box;
    font-family: 'Helvetica';
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size:1.1em;
    margin: 1em 0;
}

.description {
  margin: 1em auto 2.25em;
}

body {
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    margin: 1.5em auto;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
  
    .inner {
        padding-left: 1em;
        overflow: hidden;
        display: none;
      
        &.show {
          
        }
    }
  
    li {
        margin: .5em 0;
      
        a.toggle {
            width: 100%;
            display: block;
            background: #B8977E;
            color: #fefefe;
            padding: .85em;
            border-radius: 0.15em;
            transition: background .3s ease;
          
            &:hover {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
*/