{% load static %}
{% load staticfiles %}

<head>
	<meta charset="utf-8" name="viewport" content="width = device-width, initial-scale = 1.0">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'ajaxQ.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

{% block content %}
<body>
	
	<!-- <div id="load"></div> -->
	<div id="begron" class="bg"></div>
	<br><h2><center><b>Subscribe Me!</b></center></h2>		
	
	<div class="container">
		<div id="response_message"></div> 
		<form class="form-group" id="sub_form" method="POST" onsubmit="return false;">
			{% csrf_token %} 
			{% for field in form %}
				{{ field.label }} : {{ field }}
			{% endfor %}
			<div id="validation_message"></div>
			<br><input class="btn" id="sub_btn" type="submit" value="Subscribe" disabled onclick="subscribe()"/>
		</form>
		<a class="btn btn-outline-dark" href="/lab-6/" role="button">Back to Home</a>
	</div>
	
	<div class="container">
		<br><h2><center><b>Subscriber List</b></center></h2>
		<div class="flex">
			<table id="sub-table" class="table table-hover table-striped" style="text-align: justify">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	
</body>
{% endblock %}