{% load static %}
{% load staticfiles %}
{% include 'navbar.html' %}

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" name="viewport" content="width = device-width, initial-scale = 1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		
		<script src="{% static 'jsQ.js' %}"></script>
		
		<!-- Add icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
	</head>
	
	{% block content %}
	<body>
		<style>
		.is-favorited {
			animation:effect 0.8s infinite;
			color:#ffbf00;
		}
		</style>
		
		<div id="load"></div>
		<div id="begron" class="bg"></div>
				
		<center>
			<br><h2><b>Book List</b></h2>	
			{% if user.is_authenticated %}
				<h4>Selamat Datang {{ user.username }}! <a href="{% url 'Lab6:logout' %}" type="button" class="btn btn-danger">Logout </a></h4>
			{% else %}
				<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-block" style="width:180px"><i class="fa fa-google"></i> | Login with <b>Google</b></a>	
			{% endif %}
		</center>
		
		<div><center>
			<br><h5><center>Choose the keyword</center></h5>	
			{% csrf_token %}
			<button type="button" class="btn btn-outline-dark" id="happy">Happy</button>
			<button type="button" class="btn btn-outline-dark" id="sleep">Sleep</button>
			<button type="button" class="btn btn-outline-dark" id="quilting">Quilting</button>
			</center>
		</div>
		
		<div class="container">
			<p>Favourited Book(s) : <input id = "total-fav" class="btn btn-outline-secondary" type="button" value="0"></p>
			<div class="flex">
					<table id="book-table" class="table table-hover table-striped" style="text-align: justify">
						<thead>
							<tr>
								<th scope="col">Title</th>
								<th scope="col">Cover</th>
								<th scope="col">Description</th>
								<th scope="col">Authors</th>
								<th scope="col">Publisher</th>
								<th scope="col">Fav</th>
							</tr>
						</thead>
					</table>
			</div>
		</div>
	
	</body>
	{% endblock %}
	
</html>