{% load static %}
{% load staticfiles %}
{% include 'navbar.html' %}

<head>
	<meta charset="utf-8" name="viewport" content="width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'jsQ.js' %}"></script>
</head>

	{% block content %}
	<body>
		<div id="load"></div>
		<div id="begron" class="bg"></div>
		<br><h2><center><b>Hello, Apa kabar? :)</b></center></h2>		
		
		<center>
			<form id="form" method="POST" action="{% url 'Lab6:my-status' %}">
					{% csrf_token %}
					{{ stat_form.as_p }}
					<button type='submit' class='btn'>Post</button>
					<br>
			</form>
		</center>
		
		<section name="my-list" id="my-list">
			<div class="container">
				<h2 class="my-list-title"><center><b>My Status</b></center></h2>
				<div class="flex">
					{% if stat %}
						<table class="table table-hover table-striped" align="center" style="text-align: center">
							<thead>
								<tr>
									<th scope="col">Time</th>
									<th scope="col">Status</th>
								</tr>
							</thead>
							{% for data in stat %}
								<tr>
									<td scope="row">{{ data.time }}</td>
									<td scope="row">{{ data.my_status }}</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
					<div class="alert text-center">
						<h4><center>---No Available Status---</center></h4>
					</div>
					{% endif %}
				</div>
			</div>
		</section>
	</body>
{% endblock %}