{% load static %}
{% block content %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
	<title>adeliaut</title>

</head>

<nav id="navbarQ" style="font-family:helvetica; padding-right: 70%;" class="navbar navbar-expand-lg sticky-top navbar-light navbar-style">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<div class="container">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/lab-6/"><b>HOME</b></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="my-profile/"><b>PROFILE</b></a>
				</li>				
				<li class="nav-item">
					<a class="nav-link" href="book-list/"><b>BOOKS</b></a>
				</li>
				<li class="nav-item">
					<a id="theme" class="nav-link" href="#"><b>THEME</b></a>
				</li>
			</ul>
		</div>
	</div>		
</nav>
	
{% endblock %}