{% load static %}
{% load staticfiles %}
{% include 'navbar.html' %}

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" name="viewport" content="width = device-width, initial-scale = 1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'cssQ.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static 'jsQ.js' %}"></script>
	</head>
		
	<body>
		<div id="load"></div>
		<div id="begron" class="bg"></div>
		
		<div class="table-responsive">
			<article class="about-me" align="justify">
			<h2><b>About Me
				<a class="btn btn-outline-dark" href="/lab-10/subscribe/" role="button">Click here to subscribe!</a>
			</b></h2>
			<table class="table table-borderless">
				<tr>
					<td align="center" width="350"><img class="img-about-me img-fluid" src="https://lh3.google.com/u/0/d/1pVWOB_Bn4LGDV1UNC3YEctWko4ZJ6EWU=w1920-h915-iv1" alt="Adelia Utami"; width=300px; height=300px></td>
					<td align="justify"><p>Hello World! My name is Adelia Utami, known as Adel, currently studying as a System Information student in University of Indonesia. I love to spend my time with my family and create delightful moments with them. I like to keep things clean and neat. I am a cheerful, loyal, and trustworthy person.</p></td>
				</tr>
				
			</table>
		</div>
		
		<br>
		
		<div class="table-responsive">
			<article class="edu">
			<h2><b>Education</b></h2>
			<table class="table table-borderless">
				<tbody>
					<tr>
						<th scope="row"></th>
						<td class="text-center"><img class="img-fluid center-block" src="https://lh3.google.com/u/0/d/1S1IDDGLx_2XGOynAZt8OKYlu3aG9QFkF=w1087-h891-iv1" alt="UI"; width=150px; height=150px></td>
						<td class="text-center"><img class="img-fluid center-block" src="https://lh3.google.com/u/0/d/1vybDeBZZPWsB1w6vgshxppiXrEse0BzF=w1087-h891-iv1" alt="Bonlap"; width=165px; height=165px></td>
						<td class="text-center"><img class="img-fluid center-block" src="https://lh3.google.com/u/0/d/1pSIGK5qdEpdfpjJtN_0IFEc-j0b58cOs=w1087-h891-iv1" alt="Litam"; width=150px; height=150px></td>  
						<td class="text-center"><img class="img-fluid center-block" src = "https://lh3.google.com/u/0/d/13L_5qsDG86DntEX8i4AUP9snLRyyQY4i=w1087-h891-iv1" alt="Jasut"; width=150px; height=150px></td>
					</tr>
					
					<tr>
					  <th scope="row"></th>
					  <td class="text-center"><h4><b>2017 - now</b></h4></td>
					  <td class="text-center"><h4><b>2014 - 2017</b></h4></td>
					  <td class="text-center"><h4><b>2011 - 2014</b></h4></td>
					  <td class="text-center"><h4><b>2005 - 2011</b></h4></td>
					</tr>
					
					<tr>
					  <th scope="row"></th>
					  <td class="text-center"><h4>Universitas Indonesia</h4></td>
					  <td class="text-center"><h4>SMAN 1 Tambun Selatan</h4></td>
					  <td class="text-center"><h4>SMPN 5 Tambun Selatan</h4></td>
					  <td class="text-center"><h4>SD Jaya Suti Abadi</h4></td>
					</tr>
				</tbody>
			</table>
		</div>
 
		<!-- Accordion JQuery -->
		<!-- source code: https://codepen.io/EmmaJD/pen/yQBQdQ?page=1 -->
		<div id="main">
			<div  id="akord1"class="accordion">
				<div class="accordion-title">
					<h4 class="secondary"><b>ACTIVITY LIST</b></h4>
				</div>
				
				<div class="accordion-text">
					<li>2nd Programming Assignment SDA in progress</li>
					<li>8th Story PPW in progress</li>
					<li>Prototype for business proposal in progress</li>
				</div>				
			</div>
			
			<div id="akord2" class="accordion">
				<div class="accordion-title">
					<h4 class="secondary"><b>EXPERIENCE</b></h4>
				</div>
				
				<div class="accordion-text">
					<li>(2014 - 2017) <b>Bonlap English Club</b>: As a general active member </li>
					<li>(2016) <b>MnG Bonlap English Club</b>: As a vice project officer</li>
					<li>(2017 - now) <b>BEM Fasilkom UI 2018</b>: As a secretariat division member</li>
					<li>(2017 - now) <b>FUKI Fasilkom UI 2018</b>: As a syiar departement member</li>
					<li>(2018) <b>PMB Fasilkom UI 2018</b>: As an academic staff</li>
					<li>(2018) <b>SIWAK NG 2018</b>: As a person in charge of consumption</li>
				</div>
			</div>
			
			<div id="akord3" class="accordion">
				<div class="accordion-title">
					<h4 class="secondary"><b>ACHIEVEMENT</b></h4>
				</div>
			
				<div class="accordion-text" align="center" >
					<img src="https://lh3.google.com/u/0/d/1bDI5i4Byj_c7nI_FQk-N8iF5l-jT12Tq=w1920-h915-iv1">
				</div>
			</div>
		</div>

	</body>
</html>